input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3.7px;
    left: -1px;
    position: relative;
    background-color: #f7f7f7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #E11299;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3.7px;
    left: -1px;
    position: relative;
    background-color: #F999B7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #E11299;
}

input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    top: -3.7px;
    left: -1px;
    position: relative;
    background-color: #f7f7f7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #E11299;
}

input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    top: -3.7px;
    left: -1px;
    position: relative;
    background-color: #F999B7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #E11299;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 18px;
    top: 8px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}